@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.left img {
    height: 35px;
    width: 55px;
    margin-right: 25px;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav {
    padding-top: 12px;
}

.container {
    padding: 0 4vw;
}


nav ul li {
    list-style: none;
    padding: 0 14px;

}

nav ul :hover {
    border-bottom: 5px solid pink;
    line-height: 40px;

}

.right-box {
    display: flex;
    margin: 12px;
}

.search {
    width: 23vw;
    height: 28px;
    padding: 5px 22px;
    border: 0.1px solid rgb(244, 237, 237);
    background-color: #eff4f5;
    border-radius: 2px;
    outline: none;
}

.section-1 {
    padding-top: 20px;
    background-color: rgb(249, 249, 249);
    padding-top: 30px;
}

.width {
    padding-left: 80px;
}

.homeImg {
    width: 90vw;
}

.itemImg {
    margin: 30px 30px;
    flex-wrap: wrap;
    width: 13vw;
}

.icon {
    line-height: 25px;
}

.option {
    border: none;
    font-size: 14px;
    font-weight: bold;
}

/* All Sections */

.all-sec-head-div {
    padding: 50px 40px;
}

.all-sec-head-div .all-sec-head {
    letter-spacing: 6px;
    font-size: 30px;
    color: rgb(52, 50, 50);
}


.sec-4-7-7img {
    padding-left: 15px;
}

.item-7img-4-7-8 {
    width: 13.6vw;
}

.all-sec-card-img {
    width: 24.4vw;
}

.all-sec-item-img {
    width: 12vw;
    padding: 0.6px;
}

.item-img-19 {
    width: 16.2vw;
}

.sec-9-img {
    background-color: rgb(19, 19, 19);
}


.icon-w-h {
    height: 15px;
    width: 15px;
}

.end-footer {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 80px;
    padding-bottom: 40px;
}

@media(max-width: 1330px) {
    header {
        height: 155px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .right {

        flex-direction: column;
    }

    .right-box {
        margin: 12px;
        display: flex;
    }

    .itemImg {
        width: 17vw;
    }

    .width {
        padding-left: 60px;
    }
}

@media (max-width : 716px) {
    ul li {
        font-size: 11px;
    }
}


@media(max-width : 630px) {
    nav ul li {
        list-style: none;
        padding: 0 8px;
        font-size: 12px;
    }

    .itemImg {
        width: 12vw;
    }
}




@media(max-width : 582px) {
    nav ul li {
        font-size: 9px;
    }
}

@media(max-width : 1117px) {
    .itemImg {
        width: 15vw;
    }

    .width {
        padding-left: 60px;
    }
}

sup {
    color: rgb(224, 16, 51);
}

footer {
    margin-top: 50px;
    background-color: rgb(233, 233, 240);
    height: 85vh;
}

footer .p-20 {
    padding: 10vw;
}


.third-row .flex .width {
    width: 10vw;
}



@media(max-width : 930px) {

    .all-sec-item-img {
        width: 11.9vw;
    }
}

@media(max-width : 912px) {
    .itemImg {
        width: 13vw;
    }

    .width {
        padding-left: 80px;
    }
}

@media(max-width : 859px) {
    .itemImg {
        width: 19vw;
    }
}

@media(max-width : 806px) {
    .item-7img-4-7-8 {
        width: 13.5vw;
    }
}


@media(max-width : 775px) {
    .all-sec-item-img {
        width: 11.8vw;
    }

    .all-sec-head-div .all-sec-head {
        font-size: 28px;

    }
}

@media(max-width : 705px) {

    .all-sec-item-img {
        width: 10vw;
        padding-left: 7px;
    }

    .item-7img-4-7-8 {
        width: 13.2vw;
    }
}


@media(max-width : 540px) {

    .item-img-19 {
        width: 16vw;
    }
}

@media(max-width : 442px) {

    .all-sec-item-img {
        width: 9.5vw;
    }

    .item-7img-4-7-8 {
        width: 12.5vw;
    }
}


@media(max-width : 414px) {
    .all-sec-item-img {
        padding-left: 8px;
    }

    .all-sec-card-img {
        width: 24vw;
    }

    .item-img-19 {
        width: 15.6vw;
    }

    .all-sec-head-div .all-sec-head {
        font-size: 17px;
        width: 65vw;
    }

    .sbka .h6-f-s {
        font-size: 8px;
    }

    .sbka ul li {
        font-size: 6px;
    }

    .sbka .row-margin {
        margin: 30px 60px;

    }

    .sbka .first-row .second-row {
        width: 25vw;
    }

}

@media(max-width : 375px) {

    .all-sec-item-img {
        width: 9vw;
    }

    .all-sec-card-img {
        width: 24vw;
    }

    .item-img-19 {
        width: 15.6vw;
    }

    .sec-11-img {
        padding-left: 9px;
    }

    .all-sec-head-div .all-sec-head {
        font-size: 17px;
        width: 70vw;
    }


    .sbka .h6-f-s {
        font-size: 8px;
    }

    .sbka ul li {
        font-size: 6px;
    }

    .sbka .row-margin {
        margin: 30px 50px;

    }

    .sbka .first-row .second-row {
        width: 25vw;
    }

}

@media(max-width : 393px) {
    .all-sec-item-img {
        width: 9vw;
    }
}

@media(max-width : 280px) {

    .all-sec-item-img {
        width: 8vw;
    }

    .all-sec-card-img {
        width: 23.5vw;
    }

    .item-7img-4-7-8 {
        width: 11.5vw;
    }

    .item-img-19 {
        width: 15vw;
    }

    .sec-11-img {
        padding-left: 15px;
    }

    .all-sec-head-div .all-sec-head {
        font-size: 10px;

    }
}






@media(max-width : 755px) {
    .itemImg {
        width: 18vw;
    }

    .width {
        padding-left: 70px;
    }
}

@media(max-width : 667px) {

    .width {
        padding-left: 65px;
    }

}

@media(max-width : 605px) {

    .width {
        padding-left: 70px;
    }

    .itemImg {
        width: 15vw;
    }

}

@media(max-width : 571px) {
    .itemImg {
        width: 8vw;
    }
}

@media(max-width : 575px) {
    .itemImg {
        width: 14vw;

    }

}

@media(max-width : 512px) {
    .itemImg {
        width: 10vw;

    }

}


@media(max-width : 414px) {

    .left img {
        width: 40px;
        height: 30px;
    }

    nav ul li {
        font-size: 6px;
    }

    .search {
        font-size: 7px;
        letter-spacing: 1px;
    }

    .icon {
        font-size: 8px;
    }

}

@media(max-width : 365px) {
    .itemImg {
        padding-left: 18px;
    }
}

@media(max-width : 393px) {
    nav ul li {
        list-style: none;
        padding: 0 5px;
        font-size: 6px;
    }

    .width {
        padding-left: 50px;
    }
}

@media(max-width : 300px) {
    nav ul li {
        list-style: none;
        padding: 0 3px;
        font-size: 4px;
    }

    .search {
        width: 30vw;
    }

    .sbka .h6-f-s {
        font-size: 10px;
    }

    .sbka ul li {
        font-size: 8px;
    }

    footer .row-padding {
        padding: 10px 25px;
    }

    /* footer .line-padding{
        padding-left: 30px;
    } */


}



@media(max-width : 250px) {
    .width {
        padding-left: 8px;
    }

    .itemImg {
        width: 8vw;
    }
}




@media(max-width : 950px) {
    .sbka .line-padding {
        padding: 50px 30px;
    }

    .sbka .h6-f-s {
        font-size: 10px;
    }

    .sbka ul li {
        font-size: 8px;
    }


}


@media(max-width : 705px) {
    .sbka .line-padding {
        padding: 50px 20px;
    }

    .sbka .h6-f-s {
        font-size: 9px;
    }

    .sbka ul li {
        font-size: 7px;
    }

    .sbka p {
        font-size: 10px;
    }

    .sbka .f-icon-img {
        width: 10px;
        padding: 3px;
    }
}



@media(max-width : 600px) {
    .sbka .line-padding {
        padding: 50px 10px;
    }

    .sbka .h6-f-s {
        font-size: 8px;
    }

    .sbka ul li {
        font-size: 6px;
    }

    .sbka p {
        font-size: 10px;
    }

    .sbka .f-icon-img {
        width: 10px;
        padding: 3px;
    }
    .sbka .f-f-img-width{
        width: 40px;
     }
}



@media(max-width : 455px) {
    .sbka .line-padding {
        padding: 50px 6px;
    }

    .sbka .h6-f-s {
        font-size: 7px;
    }

    .sbka ul li {
        font-size: 5px;
    }

    .sbka p {
        font-size: 8px;
    }

    .sbka .f-icon-img {
        width: 13px;
        height: 15px;
        padding: 2px;
    }
    .sbka .f-f-img-width{
        width: 35px;
        height: 20px;
     }

     .sbka .f-img-width{
        width: 35px;
        padding-left: 2px;
     }

     .sbka .f-f-padding{
        padding-left: 5px
     }

}



@media(max-width : 280px) {
    .sbka .line-padding {
        padding: 50px 6px;
    }

    .sbka .h6-f-s {
        font-size: 5px;
    }

    .sbka ul li {
        font-size: 4px;
    }

    .sbka p {
        font-size: 8px;
    }

    .sbka .f-icon-img {
        width: 10px;
        padding: 2px;
    }
    .sbka .f-f-img-width{
        width: 35px;
        height: 20px;
     }

     .sbka .f-img-width{
        width: 35px;
        padding-left: 2px;
     }

}
