body{
    font-family: sans-serif;
}

.setting{
    height: 900px;
    width: 80%;
    margin-left: 10%;

}

#center{
    text-align: center;
    padding-top: 20px;
}

.center{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 25px;
}
.inline{
    display: inline-block;
}


